# References

In [3]:
!ls -laFh ../data/from-web

total 18M
drwxr-xr-x 7 root root  224 Apr  5 14:58 ./
drwxr-xr-x 6 root root  192 Apr  5 15:03 ../
-rw-r--r-- 1 root root 2.2M Apr  5 12:27 161209_Schenker_Sensordaten.csv
-rw-r--r-- 1 root root 1.6M Apr  5 14:53 DBNetz-Betriebsstellenverzeichnis-Stand2017-01.csv
-rw-r--r-- 1 root root 667K Apr  5 14:58 DBSuS-Uebersicht_Bahnhoefe-Stand2016-07.csv
-rw-r--r-- 1 root root 460K Apr  5 14:45 D_Bahnhof_2017_09.csv
-rw-r--r-- 1 root root  13M Apr  5 14:34 geo-strecke.zip

In [4]:
import pandas as pd

In [5]:
df_ssf = pd.read_csv('../data/from-web/161209_Schenker_Sensordaten.csv')

In [7]:
df_ssf.head()

,index,SXXJ number,Container,Date,Time_UTC,Latitude,Longitude,Accuracy,Active,Reverse,...,Door,Mount,Motion,GForce,Tilt,Temperature,Humidity,Light,Origin,Destination
0,#,[No],[No],[yyyy-MM-dd],[hh:mm:ss],[deg decimal],[deg decimal],[m],[1=yes|0=no],[1=yes|0=no],...,[1=open|0=closed],[1=not mounted|0=mounted],[1=motion|0=no motion],[g],[deg],[Celsius],[%],[Lux],[],[]
1,0,A,NONE,2016-08-08,14:39:36,NaN,NaN,NaN,0,0,...,1,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,A,NONE,2016-08-08,14:39:45,NaN,NaN,NaN,0,0,...,1,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2,A,NONE,2016-08-08,14:40:34,25.794100,-80.369301,cellid,0,0,...,1,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3,A,NONE,2016-08-08,15:57:46,NaN,NaN,NaN,1,0,...,0,0,0,0.000,NaN,29.800,75.700,NaN,NaN,NaN

In [10]:
df_sta = pd.read_csv('../data/from-web/DBNetz-Betriebsstellenverzeichnis-Stand2017-01.csv', sep=';')

In [11]:
df_sta.head()

,Abk,Name,Kurzname,Typ,Betr-Zust,Primary location code,UIC,RB,gÃ¼ltig von,gÃ¼ltig bis,Netz-Key,Fpl-rel,Fpl-Gr
0,AA,Hamburg-Altona,Hamburg-Altona,Bf,NaN,DE14421,80,2.0,20081214,NaN,10934.0,J,N
1,AA G,Hamburg-Altona Gbf,Hmb-Altona Gbf,Bft,NaN,DE14423,80,2.0,20081214,NaN,908650.0,J,N
2,AABG,Agathenburg,Agathenburg,Hp,NaN,DE10046,80,2.0,20081214,NaN,11924.0,J,N
3,AACW,Achterwehr,Achterwehr,Hp,NaN,DE10031,80,2.0,20141214,NaN,106933.0,J,N
4,AADF,Adendorf,Adendorf,Bf,NaN,DE10040,80,2.0,20081214,NaN,11601.0,J,N

In [12]:
df_routes = pd.read_csv('../data/from-web/DBSuS-Uebersicht_Bahnhoefe-Stand2016-07.csv', sep=';')

In [13]:
df_routes.head()

,Bundesland,BM,Bf. Nr.,Station,Bf DS 100 Abk.,Kat. Vst,StraÃŸe,PLZ,Ort,AufgabentrÃ¤ger
0,Nordrhein-Westfalen,Aachen,1,Aachen Hbf,KA,2,Bahnhofplatz 2a,52064,Aachen,Zweckverband Nahverkehr Rheinland GmbH
1,Nordrhein-Westfalen,Aachen,2,Aachen-Rothe Erde,KARE,4,Beverstr. 48,52066,Aachen,Zweckverband Nahverkehr Rheinland GmbH
2,Nordrhein-Westfalen,Aachen,3,Aachen West,KAW,5,Republikplatz 1,52072,Aachen,Zweckverband Nahverkehr Rheinland GmbH
3,Nordrhein-Westfalen,Aachen,184,Arsbeck,KARS,7,Heidestr.1,41844,Wegberg,Zweckverband Nahverkehr Rheinland GmbH
4,Nordrhein-Westfalen,Aachen,235,HÃ¼ckelhoven-Baal,KBA,4,Bahnstr.11,41836,HÃ¼ckelhoven-Baal,Zweckverband Nahverkehr Rheinland GmbH